<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
  <head>
    <title th:text="#{email.bookingDelete.title}">Jade Karrieretag Benachrichtigung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.bookingDelete.greeting}">Sehr geehrte Damen und Herren,</p>
    <p th:text="#{email.bookingDelete.text1}">
      Sie erhalten diese E-Mail zur Bestätigung, dass Ihre Buchung auf dem diesjährigen Jade Karrieretag systemseitig storniert wurde.
      Sollten Sie der Meinung sein, dass es sich dabei um ein Versehen handelt, wenden Sie sich bitte telefonisch oder per E-Mail an uns.
    </p>
    <p>
      <span th:text="#{email.bookingDelete.text2}">Mit freundlichen Grüßen, </span>
      <br />
      <em th:text="#{email.signature}">Ihre Jade Hochschule</em>
    </p>
  </body>
</html>
