<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
  <head>
    <title>Jade Karrieretag Stornierungsbestätigung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Moin <span th:text="${user.login}">onsite</span>,</p>
    <p>Sie erhalten diese E-Mail zur Bestätigung, dass Ihre Buchung auf dem diesjährigen Jade Karrieretag systemseitig storniert wurde.</p>
    <p>Bei Fragen kontaktieren Sie uns bitte unter <a th:href="@{|mailto:${supportEmail}|}" th:text="${supportEmail}">supportEmail</a>.</p>
    <p>
      <span>Mit freundlichen Grüßen</span>
      <br />
      <em>Jade Hochschule</em>
      <br />
      Zentrales Veranstaltungsmanagement
    </p>
  </body>
</html>
