<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
  <head>
    <title>Jade Karrieretag Buchungsbestätigung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Sehr geehrte Damen und Herren,</p>
    <p>hiermit bestätigen wir Ihre Standbuchung beim diesjährigen Jade Karrieretag.</p>
    <p>
      <span>Mit freundlichen Grüßen</span>
      <br />
      <em>Ihre Jade Hochschule</em>
    </p>
  </body>
</html>
