<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Aktivieren Sie ihren Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Moin <span th:text="${user.login}">onsite</span>,</p>
    <p>zur Aktivierung Ihres Accounts folgen Sie bitte den unten stehenden link:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span>Mit freundlichen Grüßen</span>
      <br />
      <em>Ihre Jade Hochschule</em>
    </p>
  </body>
</html>
