<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
  <head>
    <title>Jade Karrieretag Warteliste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p>Moin <span th:text="${user.login}">onsite</span>,</p>
    <p>
      Sie stehen für den diesjährigen Jade Karrieretag auf der Warteliste. Soeben sind wieder Stände zur Buchung frei geworden. Eine
      Reservierung kann über das <a th:with="url=(@{|${baseUrl}|})" th:href="${url}" th:text="${url}">Buchungssystem</a> erfolgen.
    </p>
    <p>
      Sollten Sie diese Benachrichtigungen nicht mehr empfangen wollen, können Sie sich selbst über Ihr Benutzerprofil von der Warteliste
      entfernen. Alternativ melden Sie sich bitte telefonisch oder per E-Mail bei uns.
    </p>
    <p>
      <span>Mit freundlichen Grüßen</span>
      <br />
      <em>Ihre Jade Hochschule</em>
    </p>
  </body>
</html>
