<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
  <head>
    <title th:text="#{email.waitinglist.title}">Jade Karrieretag Benachrichtigung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.waitinglist.greeting}"></p>
    <p th:text="#{email.waitinglist.text1}"></p>
    <a th:with="url=(@{|${baseUrl}|})" th:href="${url}" th:text="${url}"></a>
    <p th:text="#{email.waitinglist.text2}"></p>
    <p>
      <br />
      <em th:text="#{email.signature}"></em>
    </p>
  </body>
</html>
