<main>
  <div class="card">
    <div class="row">
      <div class="col-12 col-md-3 mb-3 mb-md-0">
        <!-- Linker Bereich -->
        <span><img class="logo" src="assets/jadehs-logo.png" /></span>
        <div class="news">
          ++ Jade Karrieretag 2025 ++ <br />
          Nächster Termin: Mittwoch, 19. November 2025 <br />
        </div>
      </div>
      <div class="col-md-9" *ngIf="!isLoggedIn()">
        <!-- Rechter Bereich -->
        <h1>Willkommen</h1>
        <p>Hier können Sie Ihren Stand für den Karrieretag buchen.</p>
        <div>
          <div>
            Der Jade Karrieretag steht wieder an und wie jedes Jahr können Sie die Gelegenheit nutzen, Aussteller auf unserem Karrieremarkt
            zu werden! Dies bietet Ihnen die Möglichkeit Ihr Unternehmen zu präsentieren und zahlreiche Gespräche mit zukünftigen
            Nachwuchskräften zu führen.
          </div>
          <br />
          <div>
            Um einen unserer 90 Stellplätze zu buchen, geht es hier zur
            <a href="#" class="alert-link" data-bs-toggle="modal" data-bs-target="#loginModal">Anmeldung</a>.
          </div>
          <br />
          <div>
            Falls Sie noch keinen Zugang haben, können Sie sich hier
            <a class="alert-link" to="/register">registrieren</a>.
          </div>
        </div>
      </div>
      <div class="col-md-9" *ngIf="account$ | async as account">
        <h1>Willkommen {{ account.user.login }}!</h1>

        <!-- Admin-Dashboard nur für Admins -->
        <app-admindashboard *ngIf="account.authorities.includes('ROLE_ADMIN')"></app-admindashboard>

        <!-- Checklist nur für normale User -->
        <app-checklist *ngIf="!account.authorities.includes('ROLE_ADMIN')"></app-checklist>
      </div>
      <!-- Logout Button-->
      <div *ngIf="account$ | async as account" class="mt-3">
        <button (click)="logout()" class="btn btn-primary">Abmelden</button>
      </div>
    </div>
  </div>
  <app-login></app-login>
</main>
